<md-dialog aria-label="Load Node Data from Netsim Simulation dialog">
  <md-dialog-content>
    <md-toolbar md-autofocus="">
      <div class="md-toolbar-tools">
        <h2>Duplicate Entries in FLS</h2>
        <span flex=""></span>
        <md-button class="md-icon-button" ng-click="cancelOrClose()">
          <md-icon aria-label="Close"
                   md-svg-src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTkgNi40MUwxNy41OSA1IDEyIDEwLjU5IDYuNDEgNSA1IDYuNDEgMTAuNTkgMTIgNSAxNy41OSA2LjQxIDE5IDEyIDEzLjQxIDE3LjU5IDE5IDE5IDE3LjU5IDEzLjQxIDEyeiIvPjwvc3ZnPg=="></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-actions>
      <md-button class="md-primary" ng-click="downloadAsCsv()">Download as CSV</md-button>
    </md-dialog-actions>
    <md-content layout-padding="">
      <div layout="column" layout-align="start center">
        <fieldset>
          <legend>Report parameters</legend>
          <strong>Number of noodes selected: {{ report.common.inputParams.selectedLiveNodes.length }}</strong>
          <md-input-container class="md-block" flex-gt-xs="">
            <label>ROP Start time:</label>
            <input class=" dtp-no-msclear dtp-input md-input" date="true" edit-input="true" id="ropStartTime"
                   max-date="date" mdc-datetime-picker="" min-date="date" minutes="true" name="ropStartTime"
                   ng-model="report.common.inputParams.ropStartTime" placeholder="YYYY-MM-DD HH:MM" short-time="true"
                   show-icon="true" show-todays-date="true" time="true" type="text"/>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs="">
            <label>ROP End time:</label>
            <input class=" dtp-no-msclear dtp-input md-input" date="true" edit-input="true" id="ropEndTime"
                   max-date="maxDateNow" mdc-datetime-picker="" min-date="minDate" minutes="true" name="ropEndTime"
                   ng-model="report.common.inputParams.ropEndTime" placeholder="YYYY-MM-DD HH:MM" short-time="true"
                   show-icon="true" show-todays-date="true" time="true" type="text"/>
          </md-input-container>
          <md-input-container class="md-block">
            <label>FLS data types</label>
            <md-chips input-aria-label="FLS Data types" md-autocomplete-snap="" md-require-match="true"
                      ng-model="report.common.inputParams.dataTypes">
              <md-autocomplete input-aria-describedby="autocompleteTitle" md-item-text="flsDataType"
                               md-items="flsDataType in flsDataTypeQuerySearch(report.flsdups.inputParams.dataTypesSearchText)"
                               md-search-text="report.flsdups.inputParams.dataTypesSearchText"
                               md-selected-item="report.fldups.inputParams.dataTypesSelectedItem"
                               placeholder="Start typing for suggestions">
                <span md-highlight-text="report.flsdups.inputParams.dataTypesSearchText">{{ flsDataType }}</span>
              </md-autocomplete>
              <md-chip-template>
                                <span>
                                    <strong>{{ $chip }}</strong>
                                </span>
              </md-chip-template>
            </md-chips>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs="">
            <label>Max files expected (in total, for all the FLS data types above)</label>
            <input ng-model="report.flsdups.inputParams.maxFilesExpected"/>
          </md-input-container>
          <div layout="row">
            <md-input-container class="md-block">
              <md-switch aria-label="Enable/Disable limiting the number of records to retrieve"
                         ng-model="report.common.inputParams.maxRecordsToRetrieveEnabled"></md-switch>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs="">
              <label>Max records to retrieve</label>
              <input ng-disabled="!report.common.inputParams.maxRecordsToRetrieveEnabled"
                     ng-model="report.common.inputParams.maxRecordsToRetrieve"/>
            </md-input-container>
          </div>
          <md-button class="md-raised md-primary" ng-click="generateFlsDupsReport()">Generate report</md-button>
        </fieldset>
      </div>
    </md-content>
    <div layout="column" layout-align="center" ng-if="report.status.loading">
      <div>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
      <div>Loading...</div>
    </div>
    <div ng-if="report.status.loaded">
      <div ng-if="report.status.isInError">
        <b>{{ report.status.message }}</b>
        <br/>
        <b>HTTP Status:</b>
        {{ report.status.response.status }}
        <br/>
        <b>Error:</b>
        {{ report.status.response.error }}
        <br/>
        <b>Server Response:</b>
        {{ report.status.response.message }}
        <br/>
      </div>
      <div ng-if="!report.status.isInError">
        <md-table-container>
          <table md-table="">
            <thead md-head="" md-on-reorder="getDesserts" md-order="query.order">
            <tr md-row="">
              <th md-column="">Network</th>
              <th md-column="">Simulation</th>
              <th md-column="">Node Name</th>
              <th md-column="">ROP Start Time</th>
              <th md-column="">Record Count</th>
            </tr>
            </thead>
            <tbody md-body="">
            <tr md-row=""
                ng-repeat="flsDupEntry in report.output.data | limitTo: report.output.pageLimit: (report.output.currentPage - 1) * report.output.pageLimit">
              <td md-cell="">{{ flsDupEntry.network }}</td>
              <td md-cell="">{{ flsDupEntry.simulation }}</td>
              <td md-cell="">{{ flsDupEntry.nodeName }}</td>
              <td md-cell="">{{ flsDupEntry.ropStartTimeFormatted }}</td>
              <td md-cell="">{{ flsDupEntry.recordCount }}</td>
              <td md-cell="">{{ flsDupEntry.numFiles }}</td>
            </tr>
            </tbody>
          </table>
          <md-table-pagination md-label="" md-limit="report.output.pageLimit" md-page="report.output.currentPage"
                               md-page-select="" md-total="{{ report.output.data.length }}"></md-table-pagination>
        </md-table-container>
      </div>
    </div>
    <md-dialog-actions>
      <md-button class="md-primary" ng-click="downloadAsCsv()">Download as CSV</md-button>
      <md-button class="md-primary" ng-click="cancelOrClose()">Close</md-button>
    </md-dialog-actions>
  </md-dialog-content>
</md-dialog>
