model_version: 2.0
product_va_config:
    name: eric-enm-kvstore-hc
    product_name: eric-enm-kvstore-hc
    version: 0.0.1
    va_template_version: 2.0.0
    description: The cENM KVStore image
    images:
        - armdocker.rnd.ericsson.se/proj_oss_releases/enm/eric-enm-kvstore-hc
        - armdocker.rnd.ericsson.se/proj_oss_releases/enm/eric-enm-kvstore-hc-bragent

    mitigations:
        CVE-2024-33600:
            mitigation: https://eteamproject.internal.ericsson.com/browse/TORF-732670
            sce:
                sce-id: SCE-XXXX-XX
                status: Unknown
                expires: 2024-12-10T00:00:00Z
        CVE-2024-33599:
            mitigation: https://eteamproject.internal.ericsson.com/browse/TORF-732670
            sce:
                sce-id: SCE-XXXX-XX
                status: Unknown
                expires: 2024-12-10T00:00:00Z
        CVE-2019-9764:
            mitigation: https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/TORF-728500 (FP)
            sce:
                sce-id: SCE-XXXX-XX
                status: Unknown
                expires: 2024-12-10T00:00:00Z
        CVE-2020-7219:
            mitigation: https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/TORF-728501 (FP)
            sce:
                sce-id: SCE-XXXX-XX
                status: Unknown
                expires: 2024-12-10T00:00:00Z
        CVE-2021-32574:
            mitigation: https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/TORF-728502 (FP)
            sce:
                sce-id: SCE-XXXX-XX
                status: Unknown
                expires: 2024-12-10T00:00:00Z
        CVE-2021-36213:
            mitigation: https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/TORF-728503 (FP)
            sce:
                sce-id: SCE-XXXX-XX
                status: Unknown
                expires: 2024-12-10T00:00:00Z
        CVE-2021-37219:
            mitigation: https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/TORF-728504 (FP)
            sce:
                sce-id: SCE-XXXX-XX
                status: Unknown
                expires: 2024-12-10T00:00:00Z
        CVE-2022-29153:
            mitigation: https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/TORF-728505 (FP)
            sce:
                sce-id: SCE-XXXX-XX
                status: Unknown
                expires: 2024-12-10T00:00:00Z
        CVE-2023-1297:
            mitigation: https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/TORF-728506 (FP)
            sce:
                sce-id: SCE-XXXX-XX
                status: Unknown
                expires: 2024-12-10T00:00:00Z
        CVE-2023-45288:
            mitigation: https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/TORF-730667
            sce:
                sce-id: SCE-XXXX-XX
                status: Unknown
                expires: 2024-12-10T00:00:00Z
        CVE-2024-24788:
            mitigation: https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/TORF-730668
            sce:
                sce-id: SCE-XXXX-XX
                status: Unknown
                expires: 2024-12-10T00:00:00Z