model_version: 2.0
product_va_config:
    name: eric-enm-sls-base
    product_name: eric-enm-sles-base
    version: 0.0.1
    va_template_version: 2.0.0
    description: The cENM SLES base image
    images:
        - armdocker.rnd.ericsson.se/proj_oss_releases/enm/eric-enm-sles-base

    mitigations:
        CVE-2024-33600:
            mitigation: https://eteamproject.internal.ericsson.com/browse/TORF-732670
            sce:
                sce-id: SCE-XXXX-XX
                status: Unknown
                expires: 2024-12-10T00:00:00Z
        CVE-2024-33599:
            mitigation: https://eteamproject.internal.ericsson.com/browse/TORF-732670
            sce:
                sce-id: SCE-XXXX-XX
                status: Unknown
                expires: 2024-12-10T00:00:00Z